body{
    margin: 0;
    background: #ececec;
}

.contenedor-h
{
    position: relative;
    width: 100%;
    height: 94.5vh; /* Ocupa toda la altura de la ventana */
    overflow: hidden;
}

.contenedor-h img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.contenedor {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 2rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.459);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: .80em;
}

.perfiles
{
    justify-content: center;
    button
    {
        margin: 10px;
    }
}

button {
    background: rgba(255, 255, 255, 0.774);
    border: none;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    font-size: 18px;
    width:150px;
}

button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.emoj
{
    font-size: 60px;
}

h1,h2,h3,p{
    filter: none;
    color: rgb(255, 255, 255);
}

.registrosAdmin {
    background: rgba(255, 255, 255, 0.774);
    border: none;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    font-size: 18px;
    width:180px;
}

.registrosAdmin:hover {
    background: rgba(255, 255, 255, 0.3);
}

.emoji
{
    font-size: 60px;
}
