body{
    margin: 0;
    background: #ececec;
    height: auto;
}

.contenedor-h
{
    position: relative;
    width: 100%;
    height: 91vh; /* Ocupa toda la altura de la ventana */
    overflow:hidden;
}

.imagen-fondo img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(40%);
}

.contenedor {
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: .85em;
    margin: 20px 10px 0px 10px;
    height: auto;
}

label
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 130px;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: red;
}