body{
    margin: 0;
    background: #ececec;
}

.contenedor-h
{
    position: relative;
    width: 100%;
    height: 94.5vh; /* Ocupa toda la altura de la ventana */
    overflow: hidden;
}

.contenedor-h img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.contenedor {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 2rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.63);
    color:white;
    margin-right: 20px;
    margin-left: 20px;
}

.spinner-overlay-mostrar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.068);
  z-index: 9999; /* para que esté por encima de todo */
}


h1,h2,h3,p{
    filter: none;
}

.btn
{
    font-weight: bold;
}

.btn:hover
{
    box-shadow: 0px 0px 50px rgb(200, 255, 0);
}

.botonesInicio
{
    display:flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    justify-content: center;
}