<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="contenedor-h">
        <img src="https://i.postimg.cc/Y0sGJY9R/56-sin-t-tulo.jpg"/>
        <div class="contenedor">
            <h2>BIENVENIDO A LA CLÍNICA CHANAMPA</h2>
            <p>Para realizar alguna acción, acceda a su cuenta o si no tiene una, REGÍSTRESE de forma gratuita y fácil</p>
            <div class="botonesInicio">
                <button type="button" class="btn btn-light" (click)="irAinicio()" [@fadeInOut]="fadeState" (mouseenter)="onMouseEnter('fade')" (mouseleave)="onMouseLeave('fade')">Iniciar sesión</button>
                <button type="button" class="btn btn-light" (click)="irAregistro()" [@fadeInOut]="fadeState02" (mouseenter)="onMouseEnter('fade',2)" (mouseleave)="onMouseLeave('fade',2)">Registrarse</button>
            </div>
        </div>
    </div>
</body>
</html>