body{
    margin: 0;
    background: #ececec;
    height: auto;
}

.contenedor-h
{
    position: relative;
    width: 100%;
    height: 94vh; /* Ocupa toda la altura de la ventana */
    overflow:hidden;
}

.imagen-fondo img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(40%);
}

.contenedor {
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: .85em;
    margin: 20px 10px 0px 10px;
    height: 95%;
}

.contenedor h2
{
    color:white;
    text-shadow: 0px 0px 30px rgb(229, 255, 0);
    margin-bottom: 30px;
}

.contenedor form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 100px 0px 0px 20px;
}

.form
{
    margin-top: 10px;
}

b{
    display: flex;
    justify-content: start;
    color:white;
}

h4
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
}


.botonesAcesso {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2rem;
}

.accesoDir
{
    font-size: 25px;
    transition: 0.3;
}

.accesoDir img
{
    width: 50px;
    height: auto;
}

.accesoDir:hover
{
    box-shadow: 0px 0px 30px rgb(238, 255, 0);
}

#email,#contra
{
    width: 200px;
    height: auto;
}

.captcha
{
    width: 80px;
    margin-top: 160px;
}