body{
    margin: 0;
    background: #ececec;
}

.contenedor-h
{
    position: relative;
    width: 100%;
    height: 94.5vh; /* Ocupa toda la altura de la ventana */
    overflow: hidden;
}

.contenedor-h img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(30%);
}

.contenedor {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.459);
    margin: 0 28%;
    border-radius: .85em;
}

.contenedor form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

b{
    display: flex;
    justify-content: start;
    color:white;
}


.botonesAcesso {
    display: flex;
    flex-direction: column;
    gap: 10px;


    z-index: 2;
    text-align: center;
    padding: 2rem;
}

.accesoDir
{
    border-radius: .45em;
}

.bi-person
{
    font-size: 25px;
}