<app-navbar></app-navbar>

@if(this.db.mostrarSpinner)
{
    <div class="text-center spinner-overlay-mostrar">
        <div class="spinner-border text-primary" style="width: 10rem; height: 10rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
@else if(this.db.mostrarSegundoSpinner)
{
    <div class="text-center spinner-overlay-mostrar">
        <div class="spinner-grow text-success" style="width: 10rem; height: 10rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}


<div [@routeAnimations]="prepareRoute(outlet)" class="router-container">
    <router-outlet #outlet="outlet"></router-outlet>
</div>