body{
    margin: 0;
    background: #ececec;
    height: auto;
}

.contenedor-h
{
    position: relative;
    width: 100%;
    height: auto; /* Ocupa toda la altura de la ventana */
    overflow:hidden;
}

.contenedor {
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: center;
    justify-content: center;
    margin: 60px 50px;
    color:white;
}

.imagenFondo img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(40%);
}

.card-group
{
    gap:20px;
}

.card
{
    padding: 1%;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0px;
}

.card:hover
{
    background-color: aqua;
    box-shadow: 0px 0px 30px rgb(238, 255, 0);    
}

.card-title
{
    font-size: 20px;
    font-weight: bold;    
}

.titulo
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color:black;
    background-color: rgba(255, 0, 0, 0.459);
}

.contenedorLog
{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: center; 
    gap:10px;
}

.listaLogs
{
    padding: 20px;   
    border-radius: .25em;
}

td
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.seccionBotones
{
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    gap: 10px;
    button
    {
        font-size: 23px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }
}

#grafico{
  margin-top: 10%;
  padding-top: 10%;
}

canvas{
  width: 90vw !important;   /* 90% del ancho de la pantalla */
  height: 90vh !important;  /* altura proporcional */
  max-width: 600px;
  max-height: 400px;
  margin: auto;
  display: block;
}

.fondoGrafico
{
    display: flex;
    margin: 5px auto;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 5%;
    border-radius: .25em;
}